*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(236, 245, 253);
    border-radius: 10px;
}



.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    background-color: rgb(194, 204, 147);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
   justify-content: center;
   border-radius: 30px;
}
  